include layouts/header.pug

.container 
  if currentUser
    h2.m-1 Welcome #{currentUser.fullname} !
  else 
    h2.m-1 Home
    
  each message in messages 
    .card.mt-3
      .card-body
        h5.card-title.text-capitalize #{message.title}
        h6.card-subtitle.mb-2.text-muted Author: #{currentUser? message.author.fullname : 'unknown'}
        p.card-text #{message.text}
        if currentUser.status === 'admin'
          a(href=`/message/:${message._id}`).btn.btn-danger Delete Message
      .card-footer.text-muted Created: #{currentUser? message.createdAt : 'unknown'}
  else 
    p.text-info There are no messages